.reviews_box_img {
    width: 45%;
    display: flex;
    padding-right: 10%;
    @media screen and (max-width: 1023px) {
        width: 100%;
        padding-right: 0;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
        padding-right: 0;
    }
    img {
        display: block;
        width: 100%;
    }
}

.swiper-container {
    display: flex;
    justify-content: center;
}

.swiper-slide {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #53354a;
    margin-bottom: 20px;
    @media screen and (max-width: 1023px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.reviews_box_text {
    display: flex;
    width: 45%;
    font-family: 'Cardo';
    font-size: 36px;
    font-style: italic;
    line-height: 1.3em;
    color: #ffffff;
    text-align: center;
    max-width: 656px;
    blockquote {
        border: 0;
        margin: 0;
        padding: 50px 50px 50px 0;
        @media screen and (max-width: 1023px) {
            padding: 10px;
        }
        @media screen and (max-width: 767px) {
            padding: 10px;
        }
        cite {
            font-family: "Raleway", sans-serif;
            font-size: 13px;
            font-weight: 700;
            line-height: 1.4em;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: 1023px) {
        width: 100%;
        text-align: center;
    }
}